# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Виртуальное окружение
venv/
env/
*.env

# Логи и временные файлы
*.log
*.sqlite3


# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Сборочные артефакты
dist/
build/


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~


# Git
.idea/
.vscode/
*.swp
*.swo
